<% content_for :extra_classes, flush: true do %> <% end %>
<% content_for :title, flush: true do %>
    Study created<%= " by #{a.owner.name}" unless a.owner.blank? %>
<% end %>
<% if a.trackable.title_changed? %>
  <% content_for :description, flush: true do %>
    <p class="timeline__item__details">
        Originally titled <strong>&ldquo;<%= a.trackable.original_title %>&rdquo;</strong>
    </p>
  <% end %>
<% else %>
<% content_for :description, flush: true do %> <% end %>
<% end %>