<% content_for :extra_classes, flush: true do %>timeline__item--affirmative<% end %>
<% content_for :title, flush: true do %>
    <%= a.related_content.dissemination_category.name %> dissemination added
    <%= " by #{a.owner.name}" unless a.owner.blank? %>
<% end %>
<% content_for :description, flush: true do %>
    <div class="timeline__item__dissemination">
        <%= simple_format(a.related_content.details) %>
    </div>
<% end %>