<% content_for :extra_classes, flush: true do %>timeline__item--affirmative<% end %>
<% content_for :title, flush: true do %>
    <%= a.related_content.dissemination_category.name %> added
    <%= " by #{a.owner.name}" unless a.owner.blank? %>
<% end %>
<% content_for :description, flush: true do %>
    <p class="timeline__item__details">
        See details in full &raquo;
    </p>
<% end %>