<% content_for :extra_classes, flush: true do %> <% end %>

<% content_for :title, flush: true do %>
    ERB approval date changed<%= " by #{a.owner.name}" unless a.owner.blank? %>
<% end %>

<% content_for :description, flush: true do %>
    <p class="timeline__item__details">
        Changed to <strong>&ldquo;<%= p[:after] %>&rdquo;</strong>.
    </p>
<% end %>