<% content_for :extra_classes, flush: true do %> <% end %>

<% content_for :title, flush: true do %>
  <% if p[:after].blank? %>
    Research manager removed
  <% else %>
    Research manager changed
  <% end %>
    <%= " by #{a.owner.name}" unless a.owner.blank? %>
<% end %>

<% if p[:after].present? %>
  <% content_for :description, flush: true do %>
      <p class="timeline__item__details">
          Changed to <strong>&ldquo;<%= a.recipient.name %>&rdquo;</strong>.
      </p>
  <% end %>
<% else %>
  <% content_for :description, flush: true do %> <% end %>
<% end %>