<head>
  <title>Health Check: <%= @all_healthy ? "Good" : "Bad" %></title>
</head>
<body>
  <h1>Health Checks</h1>
  <ul>
  <% if @checks.each do |check_name, healthy| %>
    <li><%= check_name %>: <%= healthy ? "Good" : "Bad" %></li>
  <% end.empty? %>
    <li>There are no healthchecks</li>
  <% end %>
  </ul>
</body>