<header class="site-header">
    <div class="container">
        <div class="site-header__title">
            <h1>231 active studies, in 78 locations</h1>
            <h2>174 studies with recorded impact</h2>
        </div>
        <form class="site-header__search" action="/search" method="get">
            <label for="header-search">Search by topic, researcher, or location</label>
            <div class="site-header__search__wrapper">
                <input id="header-search" class="form-control">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
</header>