<div class="list-of-things__secondary">
    <div class="list-of-things__secondary-action list-of-things__secondary-action--quick-filters">
        <h2>Quick filters</h2>
        <div class="quick-filters">
            <a href="/search?impacts=true" class="quick-filters__filter quick-filters__filter--impact">
                Studies with publications or registered impacts
            </a>
            <a href="/search?erb=pending" class="quick-filters__filter quick-filters__filter--pending">
                Studies with ERB approval pending
            </a>
            <a href="/search?erb=expiring" class="quick-filters__filter quick-filters__filter--expiring">
                Studies with ERB approval expiring
            </a>
          <% if @include_archived %>
            <a href="?include_archived=0" class="quick-filters__filter quick-filters__filter--archived">
                Exclude archived studies
            </a>
          <% else %>
            <a href="?include_archived=1" class="quick-filters__filter quick-filters__filter--archived">
                Include archived studies
            </a>
          <% end %>
        </div>
    </div>
    <div class="list-of-things__secondary-action list-of-things__secondary-action--filters">
        <form method="get" action="/search">
          <p>
              <label>Stage:</label>
              <select>
                  <option>All stages</option>
              </select>
          </p>
          <p>
              <label>Location:</label>
              <select>
                  <option>All locations</option>
              </select>
          </p>
          <p>
              <label>Topic:</label>
              <select>
                  <option>All topics</option>
              </select>
          </p>
          <p>
              <label>Methodology:</label>
              <select name="study_type">
                  <option value="">All methodologies</option>
                  <% @study_types.each do |t| %>
                    <option value="<%= t.name.downcase %>"><%= t.name %></option>
                  <% end %>
              </select>
          </p>
        </form>
    </div>
    <a href="/export" class="list-of-things__secondary-action list-of-things__secondary-action--download">
        Download this page as a CSV for Excel
    </a>
</div>