<div class="list-of-things__primary">
    <%= render partial: "shared/list_of_things_sorting" %>
    <div class="list-of-things__list">
      <% if @studies.each do |study| %>
        <%= render partial: "shared/list_of_things_study",
                   locals: { study: study } %>
      <% end.empty? %>
        <div class="list-of-things__list__item list-of-things__list__item--study">
          <p>
            Sorry, there are no studies that match your criteria. Perhaps try
            removing some filters or searching for something less specific?
          </p>
        </div>
      <% end %>
    </div>
    <%= paginate @studies %>
</div>