<p class="list-of-things__sorting">
    <%= page_entries_info @studies, entry_name: "study" %> by
    <select>
        <option selected>most recently updated</option>
        <option>most recently created</option>
    </select>
</p>