<nav class="site-nav">
    <div class="container">
        <a href="#" class="site-nav__logo">ReMIT</a>
        <label class="site-nav__mobile-menu-toggle" for="toggle-mobile-menu">Menu</label>
        <input type="checkbox" class="site-nav__mobile-menu-checkbox" id="toggle-mobile-menu">
        <ul class="site-nav__list">
            <li><a href="#">Studies</a></li>
            <li><a href="#">Publications</a></li>
            <li><a href="#">Sign In</a></li>
        </ul>
    </div>
</nav>
<header class="site-header">
    <div class="container">
        <div class="site-header__title">
            <h1>231 active studies, in 78 locations</h1>
            <h2>174 studies with recorded impact</h2>
        </div>
        <form class="site-header__search" action="/search" method="get">
            <label for="header-search">Search by topic, researcher, or location</label>
            <div class="site-header__search__wrapper">
                <input id="header-search" class="form-control">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
</header>
<div class="site-subnav">
    <div class="container">
        <ul class="site-subnav__tabs">
            <li>
                <a href="/" class="active">All studies</a>
            </li>
            <li>
                <a href="/my-studies">Your studies</a>
            </li>
            <li>
                <a href="/following">Studies you&rsquo;re following</a>
            </li>
        </ul>
    </div>
</div>
<div class="site-main">
    <div class="container">
        <p>A big list of studies will go here.</p>
        <p>With a sidebar full of filters and admin actions.</p>
    </div>
</div>
<footer class="site-footer">
    <div class="container">
        <ul class="site-footer__links">
            <li><a href="#">Admin panel</a></li>
        </ul>
        <p class="site-footer__legal">&copy; Médecins Sans Frontières</p>
    </div>
</footer>
