<nav class="site-nav">
    <div class="container">
        <a href="#" class="site-nav__logo">ReMIT</a>
        <ul class="site-nav__list">
            <li><a href="#">Studies</a></li>
            <li><a href="#">Publications</a></li>
            <li><a href="#">Sign In</a></li>
        </ul>
    </div>
</nav>
<header class="site-header">
    <div class="container">
        <h1>Hello World</h1>
    </div>
</header>
<div class="site-main">
    <div class="container">
        <p>A big list of studies will go here.</p>
        <p>With a sidebar full of filters and admin actions.</p>
    </div>
</div>
<footer class="site-footer">
    <div class="container">
        <p>MSF ReMIT.</p>
    </div>
</footer>
