<% content_for :page_title, "All Studies" %>
<%= render partial: "shared/header" %>
<%= render partial: "shared/subnav" %>

<div class="site-main">
    <div class="container">
        <div class="list-of-things">
            <%= render partial: "shared/list_of_things" %>
            <%= render partial: "shared/list_of_things_sidebar" %>
        </div>
    </div>
</div>
