<nav class="site-nav">
    <div class="container">
        <a href="/" class="site-nav__logo">ReMIT</a>
        <label class="site-nav__mobile-menu-toggle" for="toggle-mobile-menu">Menu</label>
        <input type="checkbox" class="site-nav__mobile-menu-checkbox" id="toggle-mobile-menu">
        <ul class="site-nav__list">
            <li><a href="/study/">Studies</a></li>
            <li><a href="#">Publications</a></li>
            <li><a href="#">Sign In</a></li>
        </ul>
    </div>
</nav>
<header class="site-header">
    <div class="container">
        <div class="study-header">
            <div class="study-header__primary">
                <div class="site-header__title">
                    <h1>Addressing water and sanitation needs of displaced women in emergencies</h1>
                </div>
                <div class="study-header__details">
                    <div>
                        <h3 class="study-header__details__key">Methodology</h3>
                        <p class="study-header__details__value"><a href="/search?methodology=mixed%20methods%20study">Mixed methods study</a></p>
                    </div>
                    <div>
                        <h3 class="study-header__details__key">Topic</h3>
                        <p class="study-header__details__value"><a href="/search?topic=tuberculosis">Tuberculosis</a></p>
                    </div>
                    <div>
                        <h3 class="study-header__details__key">Principal investigator</h3>
                        <p class="study-header__details__value"><a href="/search?pi=janet%20bloggs">Janet Bloggs</a></p>
                    </div>
                    <div>
                        <h3 class="study-header__details__key">Location</h3>
                        <p class="study-header__details__value"><a href="/search?location=south%20sudan">South Sudan</a></p>
                    </div>
                </div>
            </div>
            <div class="study-header__secondary">
                <div class="site-header__card">
                    <h3>Stage:</h3>
                    <p class="site-header__stage">Protocol &amp; ERB</p>
                    <p class="site-header__stage-since">Since 11th October</p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="site-subnav study-subnav">
    <div class="container">
        <ul>
            <li>Concept</li>
            <li>Protocol &amp; ERB</li>
            <li>Delivery</li>
            <li>Completed</li>
            <li>Archived</li>
        </ul>
    </div>
</div>
<div class="site-main">
    <div class="container">

    </div>
</div>
<footer class="site-footer">
    <div class="container">
        <ul class="site-footer__links">
            <li><a href="#">Admin panel</a></li>
        </ul>
        <p class="site-footer__legal">&copy; Médecins Sans Frontières</p>
    </div>
</footer>
