<div class="study-header__secondary">
    <div class="site-header__card">
        <h3>Stage:</h3>
        <p class="site-header__stage"><%= @study.study_stage_label %></p>
        <p class="site-header__stage-since">
            Since <%= @study.study_stage_since.to_formatted_s(:short_ordinal) %>
        </p>
    </div>
    <div class="site-header__card">
        <h3>Most recent action:</h3>
        <%= render_activity @study.activities.last, layout: :most_recent %>
    </div>
</div>