<li class="<%= if state.blank? then "step--todo" else "step--#{state}" end %>">
  <% if state == "done" %>
    <img src="<%= image_path('tick.png') %>"
         srcset="<%= image_path('tick.svg') %>"
         width="18" height="16">
  <% end %>
    <%= label %>
</li>