<% content_for :page_title, "About" %>
<% content_for :body_class, "about-page" %>

<div class="site-main">
  <div class="container">
    <div class="col-xs-12">
      <h1>About</h1>
    </div>
    <div class="content-page__secondary">
      <ul class="about-page__nav">
        <li><a href="#what-is-remit">What is ReMIT?</a></li>
        <li>
          <a href="#how-add-publication">
            How do I add a publication, other dissemination or impact to my
            study?
          </a>
        </li>
        <li>
          <a href="#how-invite">
            How do I invite someone else to record a dissemination or impact?
          </a>
        </li>
        <li><a href="#how-add-note">How can I add a note to a study?</a></li>
        <li>
          <a href="#how-edit">Can I edit information once submitted?</a>
        </li>
        <li><a href="#how-upload">How can upload a document?</a></li>
        <li>
          <a href="#how-update-status">
            My study is now completed, how to I update its status?
          </a>
        </li>
        <li>
          <a href="#withdrawn">
            What should I do if there has been a major change to a study e.g.
            it has been withdrawn?
          </a>
        </li>
        <li><a href="#why-open-access">Why is it open access?</a></li>
        <li><a href="#any-questions">Any questions?</a></li>
      </ul>
    </div>

    <div class="content-page__primary">
      <h2 id="what-is-remit">What is ReMIT?</h2>
      <p>
        The Research Management and Impact Tool (ReMIT) is an open access
        research management system for all studies conducted by Médecins
        Sans Frontières Operational Centre Amsterdam (MSF-OCA). ReMIT acts
        as a notebook for researchers and will enable the lifecycle of a
        study to be documented, from concept through to impact. It also
        enables non-MSF staff to explore our research portfolio.
      </p>
      <p>
        ReMIT will improve the transparency and accountability of MSF
        research and will enable the research process to be managed more
        effectively. It will collect data on where MSF research has had an
        impact or been disseminated so we have can see where our research
        has added value.
      </p>

      <h2 id="how-add-publication">
        How do I add a publication, other dissemination or impact to my
        study?
      </h2>
      <p>
        To add information about any dissemination activities or impacts of
        a study you should click on the title of the study and then click
        ‘record dissemination or other impact for this study’.
      </p>
      <p>
        If your research has been published in a peer-reviewed journal, you
        can add this information to ReMIT by inputting the article Digital
        Object Identifier (DOI) and clicking ‘add output’.
      </p>
      <p>Otherwise, you can add the details manually.</p>
      <p>
        If you have shared study findings in other fora you should click
        ‘other dissemination’ and select a category e.g. ‘bilateral meeting’
        and then describe what the meeting was. If your study has had an
        impact on patients, policy, or programmes please select the relevant
        option and describe the impact. If the impact of your study does not
        fit into one of the proposed categories then select ‘other’. Please
        try to add as much details as possible when describing impacts.
      </p>
      <p>PLEASE NOTE THAT YOU CAN ONLY ADD ONE OUTPUT AT A TIME.</p>

      <h2 id="how-invite">
        How do I invite someone else to record a dissemination or impact?
      </h2>
      <p>
        Although only the Principal Investigator (PI) will be prompted to
        add dissemination or impact, they are able to nominate other
        relevant individuals to do this too e.g. other members of the
        research team. To do this click ‘invite someone else to record an
        impact’ and enter their email address. They will then receive an
        email asking them to complete this information but they do not need
        to be a registered user of the system.
      </p>

      <h2 id="how-add-note">How can I add a note to a study?</h2>
      <p>
        To add a note to your study, you should click on the study page,
        followed by the ‘note’ button. You can add notes about anything to
        do with your study e.g. if the research team changed. Try and add as
        much detail as possible and when you are ready to submit click
        ‘add note’
      </p>

      <h2 id="how-edit">Can I edit information once submitted?</h2>
      <p>
        You are not about to edit submissions but you can contact an
        administrator to do so on your behalf.
      </p>

      <h2 id="how-upload">How can upload a document?</h2>
      <p>
        You should click on the study page, followed by the ‘document’
        button. Documents can be anything related to the study e.g. data
        sharing agreements, study reports, presentations, but they must not
        include ANY patient identifiable information.
      </p>

      <h2 id="how-update-status">My study is now completed, how to I update its status?</h2>
      <p>
        A study is considered complete as soon as a report of the findings
        has been produced. To mark a study as complete, click on the study
        title followed by ‘this study has completed’.
      </p>

      <h2 id="withdrawn">
        What should I do if there has been a major change to a study e.g. it
        has been withdrawn?
      </h2>
      <p>
        If a major change has happened to your study e.g. it has been
        withdrawn, please let the system administrator know.
      </p>

      <h2 id="why-open-access">Why is it open access?</h2>
      <p>
        ReMIT is open access to improve the transparency and accountability
        of MSF research.
      </p>

      <h2 id="any-questions">Any questions?</h2>
      <p>
        Please contact us at
        <a href="mailto:<%= Rails.application.config.x.contact_email %>">
          <%= Rails.application.config.x.contact_email %>
        </a>
      </p>
    </div>
  </div>
</div>
