// Styling for the "action sheets" currently
// only displayed on the study page.

.action-sheet {
  margin-top: 1em;
  background-color: $color-pale-toffee;
  border-radius: 0.3em;

  select, input[type="text"], textarea {
    width: 100%;
  }

  textarea {
    height: 6em;
  }

  // We'd like to wrap everything in paragraphs, but Rails puts fields with
  // an error inside a div, so we need to do the same sometimes and style them
  // both the same.
  .field-wrapper {
    margin-bottom: 1em;
  }

  @media (min-width: $screen-sm-min) {
    .field-wrapper {
      margin-bottom: 0;
    }
  }
}

.action-sheet__section {
  padding: 1.5em;

  .row + .row {
    margin-top: 1em;
  }
}

.action-sheet__section--child {
  background-color: mix(#fff, $color-pale-toffee, 50%);
  padding-left: 4em;
  margin: 0.5em 0;

  // Vertical space between rows in this section
  .field-wrapper + .field-wrapper,
  .row .field-wrapper {
    margin-top: 1em;
  }

  // No space above first row in this section
  & > .row:first-child .field-wrapper {
    margin-top: 0;
  }
}

.action-sheet__section--first {
  border-bottom: 1px solid $color-mid-toffee;
}

.action-sheet__section--last {
  border-top: 1px solid $color-mid-toffee;
}

.action-sheet__title {
  color: $color-dark-toffee;
  font-weight: normal;
}

.action-sheet__warning {
  font-size: 0.875em; // 14px
  color: $color-dark-toffee;
  line-height: 1.3em;
}

.action-sheet__submit {
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
}

.output-type-accordion {
  padding: 1em 0;
}

.output-type-input {
  float: left;

  // override Bootstrap-sass's default margin and
  // margin-top (designed for inline checkboxes)
  margin: 0.7em 0 0 2em !important;
}

.output-type-label {
  display: block;
  padding: 0.5em 1.5em 0.5em 4em;
  margin: 0;
}

.output-type-input[disabled] + .output-type-label {
    opacity: 0.5;
}

.output-type-label__description {
  display: block;
  margin-top: 0.5em;
  font-size: 0.7em; // 14px
  color: $color-dark-toffee;
  font-weight: normal;
}

.manual-publication-details-link {
  display: block;
  margin: 0.5em 0 0 0;
  font-weight: inherit;
  color: $link-color;
  cursor: pointer;

  &:hover, &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  // Cleverly position the DOI link to the right of the DOI input
  @media (min-width: $screen-sm-min) {
    position: absolute;
    right: -100%;
    width: 100%;
    bottom: 0.5em;
    margin-top: 0;
  }
}

.other-impact-type {
  input[type="checkbox"] {
    margin: 0 0.5em 0 0;
    vertical-align: 1px;
  }
  .checkbox--with-description {
    position: relative;
    top: -1.3em // Line up the with main label, not the description
  }

  textarea {
    margin-top: 0.5em;
  }
}

.field_with_errors {
  display: inline;
  color: $color-alert-red;
  border-color: $color-alert-red;
}

.impact-type--description {
  font-size: 0.875em; // 14px
  color: $color-dark-toffee;
  line-height: 1.3em;
}
