.site-header {
  padding: 3em 0; // might want to reduce this on small screens?
}

.site-header--impacts {
  .container {
    max-width: 48em;
  }
  .study-header__primary {
    @extend .col-xs-12;
  }
}

.site-header__title {
  @extend .row;

  h1, h2 {
    @extend .col-xs-12;

    margin: 0;
  }

  h1 {
    font-size: 2.25em; // 36px
  }

  h2 {
    font-size: 1.7em; // ~26px
    margin-top: 0.2em;
  }
  a {
    color: inherit;
  }
}

.site-header__search {
  @extend .row;

  margin-top: 2em;

  label {
    @extend .col-md-8;

    color: $color-light-blue;
    font-weight: inherit;
    font-size: 1.25em; // 20px
  }

  input {
    font-size: 1.5em;
    height: auto;
    padding-left: 2em; // 48px
  }

  button {
    position: absolute;
    display: block;
    top: 0;
    left: ($grid-gutter-width / 2);
    bottom: 0;
    width: 3em; // 48px

    // Hide button text
    text-indent: 4em;
    overflow: hidden;

    // Make button transparent
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    @include img-retina("search.png", "search@2x.png", 27px, 27px);

    // Upgrade to SVG for modern browsers
    background-image: url("search.svg"), none;

    opacity: 0.5;

    &:hover, &:focus {
      opacity: 1;
    }
  }
}

.site-header__search__wrapper {
  @extend .col-md-8;

  position: relative;
  margin-top: 0.2em;
}

.study-header {
  @extend .row;
}

.study-header__primary {
  @extend .col-sm-8;
}

.study-header__secondary {
  @extend .col-sm-4;
  padding-top: 0.4em; // visually line up with the top of headline x-height
}

.study-header__details {
  @extend .row;
  margin-top: 1em;

  & > div {
    @extend .col-sm-6;
    margin-top: 1em;
  }
}

.study-header__details__key {
  margin: 0;
  font-size: 0.875em; // 14px
  font-weight: inherit;
  color: $color-light-blue;
  text-transform: uppercase;
}

.study-header__details__value a {
  color: inherit;
}

.site-header__card {
  background-color: $color-pale-toffee;
  color: $color-dark-toffee;
  padding: 1em;

  &:first-child {
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
  }

  &:last-child {
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
  }

  & + & {
    background-color: $color-mid-toffee;
    border-top: 1px solid darken($color-mid-toffee, 10%);
  }

  h3 {
    margin: 0;
    font-size: 0.875em; // 14px
    font-weight: inherit;
    text-transform: uppercase;
    color: inherit;
  }

  p {
    margin: 0.2em 0 0 0;
    font-size: 0.875em; // 14px
  }

  .site-header__stage {
    font-weight: bold;
    color: $color-black;
    font-size: 1.3em;
  }

  .site-header__recent {
    font-weight: bold;
    color: $color-black;
    font-size: 1.2em;
  }
}
