.site-main {
  padding: 2em 0;
}

.site-main--simple {
  .container {
    background-color: #fff;
    max-width: 24em;
    padding: 2em;
    border-radius: 0.3em;

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }
}