.site__nav {
  @extend .clearfix;
}

.site-nav__logo {
  display: inline-block;
  font-weight: bold;
  font-size: 1.25em; // logo is a quarter bigger than base font size
  line-height: 0.8em * $line-height-base; // but has same line height as 1em siblings
  padding: 0.8em 0.8em 0.8em 50px; // likewise, same padding as 1em siblings
  color: inherit;

  float: left;

  // Bootstrap mixin handles the @1x and @2x PNGs
  @include img-retina("msf-running-man.png", "msf-running-man@2x.png", 39px, 30px);

  // Upgrade to SVG for modern browsers
  background-image: url("msf-running-man.svg"), none;

  background-repeat: no-repeat;
  background-position: 0% 50%;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

.site-nav__list {
  @extend .clearfix;
  @extend .list-unstyled;

  clear: both;
  margin: 0 -1em;
  padding: 0.5em 0;
  border-top: 1px solid $color-platinum-white;
  background-color: $color-off-white;

  // Hide menu by default
  display: none;

  // Reveal menu when checkbox is checked
  .site-nav__mobile-menu-checkbox:checked + & {
    display: block;
  }

  a {
    display: block;
    color: inherit;
    padding: 0.5em 1em;

    &:hover,
    &:focus {
      color: $link-hover-color;
    }
  }

  @media (min-width: $desktop-menu-breakpoint) {
    float: right;

    // Reveal menu on wide screens
    display: block;

    // Negate the mobile styles
    border-top: none;
    background-color: transparent;
    clear: none;
    padding: 0;

    li {
      float: left;
    }

    a {
      display: inline-block;
      padding: 1em;
    }
  }
}

.site-nav__mobile-menu-toggle {
  float: right;
  margin: 0 -1em;

  padding: 1em 0;
  width: 2em + $line-height-base;
  text-indent: 10em;
  overflow: hidden;

  cursor: pointer;

  @include img-retina("menu-toggle.png", "menu-toggle@2x.png", 20px, 20px);

  // Upgrade to SVG for modern browsers
  background-image: url("menu-toggle.svg"), none;

  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-width: $desktop-menu-breakpoint) {
    display: none;
  }
}

.site-nav__mobile-menu-checkbox {
  position: absolute;
  top: -10em;
}
