body {
  background-color: $color-light-blue;
}

.site-nav {
  background-color: #fff;
}

.site-header {
  background-color: $color-dark-blue;
  color: #fff;
}

.site-subnav {
  background-color: $color-dark-blue;
}

.site-main {
  background-color: #fff;
  padding: 2em 0; // should this be in here?
}

.site-footer {
  background-color: $color-light-blue;
}
