body {
  background-color: $color-light-blue;
}

.site-nav {
  background-color: #fff;
}

.site-header {
  background-color: $color-dark-blue;
  color: #fff;
}

.site-main {
  background-color: #fff;
}

.site-footer {
  background-color: $color-light-blue;
}
