.study-main {
  @extend .row;
}

.study-main__primary {
  @extend .col-sm-8;
  margin-bottom: 4em;
}

.study-main__secondary {
  @extend .col-sm-4;
}

.study-main__actions {
  margin-bottom: 2em;

  ul {

    li {
      vertical-align: middle;
    }

    i {
      font-size: 0.875em;
      vertical-align: baseline;
      margin-right: 0.3em;

      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        display: none;
      }
    }
  }

  .action-sheet {
    max-width: 37em; // same as .timeline
  }
}

.study-main__actions__tabs {
  @extend .list-inline;
  margin: 0 -5px; // compensate for 5px padding on children
}

.timeline {
  position: relative;
  max-width: 37em; // same as .action-sheet

  ol {
    @extend .list-unstyled;
    margin: 0;
  }

  &:after {
    content: "";
    display: block;
    width: 2px; // a fake 2px vertical "border"

    background-color: $color-silver-white;

    position: absolute;
    top: 0.5em;
    left: 1em;
    bottom: 0.5em;

    margin-left: -1px; // shift over half the "border" width
  }
}

.timeline__item {
  position: relative;
  z-index: 1; // position the dots above the parent's fake "border"
  margin-top: 2em;
  padding-left: 2.5em;

  &:last-child {
    background-color: $color-white; // hide the fake border, even if this item wraps onto multiple lines
  }

  &:after {
    content: "";
    display: block;
    width: 1em;
    height: 1em;

    border-radius: 100%;
    background: $color-mid-grey;
    border: 0.2em solid $color-white;

    position: absolute;
    top: 0.1em;
    left: 0.5em;
  }
}

.timeline__item--affirmative {
  &:after {
    background-color: $color-bright-green;
  }
}

.timeline__item--negative {
  &:after {
    background-color: $color-red;
  }
}

.timeline__item__date {
  color: $color-mid-grey;
  margin-left: 0.5em;
}

.timeline__item__title {
  font-size: 1.125em; // 18px
  margin: 0 0 0.75em 0;

  .timeline__item__date {
    font-size: (14em / 18); // 14px
    font-weight: normal;
  }
}

.timeline__item__details {
  font-size: 0.875em; // 14px
}

.timeline__item__note,
.timeline__item__dissemination,
.timeline__item__impact,
.timeline__item__enabler-barrier {
  border-left: 0;
  font-size: 0.875em; // 14px
  padding: 1em 1.3em;
  background-color: $color-off-white;
  border-radius: 0.3em;

  & > :last-child {
    margin-bottom: 0;
  }
}

.timeline__item__note {
  background-color: $color-lighter-blue;
}

.file {
  display: block;
  position: relative;
  padding-left: 3.25em;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  // This will be the file icon
  &:before {
    content: "";
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0.1em; // visually line up with the tops of the letters of the file name
    left: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.file--publication {
  &:before {
    @include img-retina("file-publication.png", "file-publication@2x.png", 40px, 40px);
    background-image: url("file-publication.svg"), none;
  }
}

.file--document {
  &:before {
    @include img-retina("file-document.png", "file-document@2x.png", 40px, 40px);
    background-image: url("file-document.svg"), none;
  }
}

.file--pdf {
  &:before {
    @include img-retina("file-pdf.png", "file-pdf@2x.png", 40px, 40px);
    background-image: url("file-pdf.svg"), none;
  }
}

.file--spreadsheet {
  &:before {
    @include img-retina("file-spreadsheet.png", "file-spreadsheet@2x.png", 40px, 40px);
    background-image: url("file-spreadsheet.svg"), none;
  }
}

.file--presentation {
  &:before {
    @include img-retina("file-presentation.png", "file-presentation@2x.png", 40px, 40px);
    background-image: url("file-presentation.svg"), none;
  }
}

.file__name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  a:hover &,
  a:focus & {
    text-decoration: underline;
  }
}

.file__details {
  display: block;
  font-size: 0.875em;
  color: $color-dark-grey;
}

.study-main__secondary__section {
  display: block;
  margin-bottom: 2em;
  padding: 1.25em;
  border-radius: 0.3em;
  background-color: $color-off-white;
  border: 1px solid $color-silver-white;

  h3 {
    font-size: 1em;
    margin: 0 0 0.8em 0;
  }

  p {
    font-size: 0.875em; // 14px
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.study-main__secondary__section--admin {
  background-color: $color-pale-green;
  border-color: darken($color-pale-green, 10%);
}

.study-main__secondary__section__blank {
  color: $color-mid-grey-alternate;
}

.document-list {
  @extend .list-unstyled;
  margin: 0;

  li {
    margin-top: 1em;
  }

  h4 {
    font-size: 0.875em; // 14px
    margin: 0 0 0.3em 0;
  }

  p {
    font-size: 0.75em; // 12px
    margin: 0;
  }
}
