<h2>Welcome to ReMIT <%= @email %>!</h2>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<h2>What is ReMIT?</h2>
<p>
  The Research Management and Impact Tool (ReMIT) is an open access research
  management system for all studies conducted by Médecins Sans Frontières
  Operational Centre Amsterdam (MSF-OCA).
</p>

<h2>Why am I receiving this email?</h2>
<p>
  You are receiving this email because you either registered to use ReMIT or
  because you are the PI for a study conducted by MSF-OCA and that study is
  now visible in ReMIT.
</p>

<% unless @resource.approved? %>
  <p>
    Please note, your account still has to be approved by the site
    administrators, you won't be able to log in until then.
  </p>
<% end %>

<h2>Any questions?</h2>
<p>Please reply to this email if you have any questions.</p>
