<%# Layout partial for other activities, selected by passing
    layout: :most_recent to the render_activity helper %>
<p class="site-header__recent"><%= content_for :title %></p>
<p class="site-header__recent-since">
    <%= activity.created_at.to_formatted_s(:short_ordinal) %>
</p>
