<%# Layout partial for other activities, selected by passing layout: :timeline
    to the render_activity helper %>
<li class="timeline__item <%= content_for :extra_classes %>">
    <h2 class="timeline__item__title">
        <%= content_for :title %>
        <span class="timeline__item__date">
            <%= activity.created_at.to_formatted_s(:medium_ordinal) %>
        </span>
    </h2>
    <%= content_for :description %>
</li>